* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr 3fr;
  grid-gap: 10px;

  padding: 10px;

  grid-template-areas: 
  'h h h'
  'n c a';

}


#sidebar {
  grid-area: a;
  background-color: rgb(255, 255, 255);
  
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

