* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr 3fr;
  grid-gap: 10px;

  padding: 10px;
  height: 100vh;

  grid-template-areas: 
  'h h h'
  'n c a';

}


