.inputHolder form{
  display: flex;
  flex-direction: column;
}

.inMain {
  padding: 10px 15px;
  border-radius: 5px;
  
  border: none;
  background-color: rgb(237, 247, 254);
  min-height: 70px;
  width: 100%;
  
}


.but {
  border: 2px solid rgb(129, 129, 129);
  border-radius: 5px;
  padding: 7px 14px;
  background-color: white;
  transition: 0.2s;

  font-size: 17px;
  font-weight: 500;
  margin: 15px;

  align-self: flex-end;
}

.but:hover {
  scale: 1.1;
}