.content {
    grid-area: c;
    background-color: brown;
  }
  
  
  .img-up img {
    height: 120px;
    width: 100%;
    object-fit: cover;
  }
  
  .m-prof img{
   width: 200px;
  }
  
  .content > div {
    margin-bottom: 10px;
  
  }
  
  .m-prof {
    display: flex;
    gap: 30px;
  }
  
  .mpd-d {
    list-style: none;
    padding-top: 40px;
  
  }
  
  .mpd-t {
    font-size: 25px;
    font-weight: 400;
  }