.header {
    grid-area: h;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    border-radius: 10px;
}


.headerLogo {
    display: flex;

}


.headerLogo img {
    max-height: 80px;
    padding: 10px;
    margin-left: 5px;
}