.nav {
    grid-area: n;
    background-color: rgb(181, 181, 219);
    background-color: white;

    border-radius: 10px;
    padding: 15px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.navList {
    list-style: none;
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    display: inline-block;
}

.navList li {
    border: 2px solid rgb(129, 129, 129);
    border-radius: 5px;
    padding: 10px;

    display: flex;
    align-items: center;
    gap: 5px;

    margin: 10px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

} 

.nav_icon {
    display: flex;
    align-items: center;
}

.nav_icon img {
    height: 30px
}